<h1 class="welcome">Welcome to the PhoneBook Application</h1>

<div class="main-div">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
  </mat-card-header>
  <img mat-card-image src="assets/img//phone-icon-hi.png" alt="Photo of a Shiba Inu">
  <mat-card-actions class="buttons">
    <a mat-raised-button color="accent" routerLink="/login">Login</a>
    <a mat-raised-button color="accent" routerLink="/register">Register</a>
  </mat-card-actions>
</mat-card>
</div>
