<!--
<div class="container">
  <div class="row" style="display: flex; justify-content: center; align-items: center; height: 100vh; overflow: hidden; ">
    <div class="col-xs-12 col-md-6 col-md-offset-3 my-auto">
      <form class="container center_div" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <h1>{{ isLoginMode ? 'Login' : 'Sign Up' }}</h1>
        <div class="form-group">
          <label class="mat-h2" for="username">Username</label>
          <input
            type="username"
            id="username"
            class="form-control"
            ngModel
            name="username"
            required
            username
          />
        </div>
        <div class="form-group">
          <label class="mat-h2" for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="3"
          />
        </div>
        <div>
          <button
            class="btn btn-dark"
            type="submit"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? 'Login' : 'Sign Up' }}
          </button>
          |
          <button class="btn btn-dark" (click)="onSwitchMode()" type="button">
            Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
          </button>
        </div>
        <mat-spinner *ngIf="showSpinner" class="spinner" [diameter]="50"></mat-spinner>
      </form>
    </div>
  </div>
  </div>
-->
<!--  
<h2 class="login">Login page</h2>
<div class="main-div">
  <mat-card class="example-card" layout="row" layout-align="center center">
    <mat-card-content>
      <form class="container center_div" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input
                matInput placeholder="Username"
                type="username"
                id="username"
                class="form-control"
                ngModel
                name="username"
                required
                username
              />
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input
            matInput placeholder="Password"
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
            minlength="3"
          />
          </mat-form-field></td>
        </tr></table>
      </form>
    </mat-card-content>
    <mat-spinner *ngIf="showSpinner" class="spinner" [diameter]="50"></mat-spinner>
    <mat-card-actions>
      <button mat-raised-button type="submit" [disabled]="!authForm.valid" color="accent" (click)="onSubmit()">Login</button>
    </mat-card-actions>
  </mat-card>    
</div>  

-->

<div class="main-div">
  <h2>Login Page</h2>
  <form class="example-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <mat-form-field class="example-full-width">
      <input
        id="username"
        name="username"
        ngModel
        required
        matInput
        placeholder="username"
        type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        id="password"
        name="password"
        ngModel
        required  
        matInput
        placeholder="password"
        type="password">
    </mat-form-field>
    <button
      mat-raised-button color="accent"
      type="submit"
      [disabled]="!authForm.valid"
      >Login</button>
  </form>
</div>
