<div class="main-div">
  <h1>Login Page</h1>
  <form class="example-form" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <mat-form-field class="example-full-width">
      <input
        id="username"
        name="username"
        ngModel
        required
        matInput
        placeholder="username"
        type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        id="password"
        name="password"
        ngModel
        required  
        matInput
        placeholder="password"
        type="password">
    </mat-form-field>
    <button
      mat-raised-button color="accent"
      type="submit"
      [disabled]="!authForm.valid"
      >Login</button>
      <br>
      <button class="button"
      mat-raised-button color="accent"
      (click)="backHome()"
      >HomePage
</button>
  </form>
</div>

